This notebook describe indexing in Daru::DataFrame with the newly added Categorical Index and other index classes.

In [1]:
require 'daru'

"if(window['d3'] === undefined ||\n   window['Nyaplot'] === undefined){\n    var path = {\"d3\":\"https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min\",\"downloadable\":\"http://cdn.rawgit.com/domitry/d3-downloadable/master/d3-downloadable\"};\n\n\n\n    var shim = {\"d3\":{\"exports\":\"d3\"},\"downloadable\":{\"exports\":\"downloadable\"}};\n\n    require.config({paths: path, shim:shim});\n\n\nrequire(['d3'], function(d3){window['d3']=d3;console.log('finished loading d3');require(['downloadable'], function(downloadable){window['downloadable']=downloadable;console.log('finished loading downloadable');\n\n\tvar script = d3.select(\"head\")\n\t    .append(\"script\")\n\t    .attr(\"src\", \"http://cdn.rawgit.com/domitry/Nyaplotjs/master/release/nyaplot.js\")\n\t    .attr(\"async\", true);\n\n\tscript[0][0].onload = script[0][0].onreadystatechange = function(){\n\n\n\t    var event = document.createEvent(\"HTMLEvents\");\n\t    event.initEvent(\"load_nyaplot\",false,false);\n\t    window.dispatchEvent(event);\n\t    console.log('Finished loading Nyaplotjs');\n\n\t};\n\n\n});});\n}\n"

true

Helper function to get a sample dataframe.

In [2]:
def sample_df idx
  Daru::DataFrame.new({
    a: 1..5,
    b: 'a'..'e',
    c: 11..15
  }, index: idx)
end

:sample_df

## Categorical Index

In [3]:
idx = Daru::CategoricalIndex.new [:a, :b, :a, :b, :c]

#<Daru::CategoricalIndex(5): {a, b, a, b, c}>

In [4]:
df = sample_df idx

#<Daru::DataFrame(5x3)>
       a   b   c
   a   1   a  11
   b   2   b  12
   a   3   c  13
   b   4   d  14
   c   5   e  15

### #row[]

Retrive rows by category or position

**Note:** When index is both a valid category as well as position, then it will treated as category.

In [5]:
df.row[:a, :c]

#<Daru::DataFrame(3x3)>
       a   b   c
   a   1   a  11
   a   3   c  13
   c   5   e  15

In [6]:
df.row[0, 1]

#<Daru::DataFrame(2x3)>
       a   b   c
   a   1   a  11
   b   2   b  12

### #[]

Its to fetch vectors and works similar to `#row[]`.

In [7]:
df[:a, :b]

#<Daru::DataFrame(5x2)>
       a   b
   a   1   a
   b   2   b
   a   3   c
   b   4   d
   c   5   e

### #row.at

To retrive rows by position.

In [8]:
df.row.at 0, 1, 2

#<Daru::DataFrame(3x3)>
       a   b   c
   a   1   a  11
   b   2   b  12
   a   3   c  13

### #at

To retrive vectors by position.

In [9]:
df.at 0, 1

#<Daru::DataFrame(5x2)>
       a   b
   a   1   a
   b   2   b
   a   3   c
   b   4   d
   c   5   e

### #row[]=

Set rows by categories or positions.

**Note:** In case index is both a valid category and position, it will taken as category.

In [10]:
df.row[:a] = ['x', 'y', 'z']
df

#<Daru::DataFrame(5x3)>
       a   b   c
   a   x   y   z
   b   2   b  12
   a   x   y   z
   b   4   d  14
   c   5   e  15

### #[]=

Works similar to `#row[]=` and is for vectors.

In [11]:
df[:a] = [1]*5
df

#<Daru::DataFrame(5x3)>
       a   b   c
   a   1   y   z
   b   1   b  12
   a   1   y   z
   b   1   d  14
   c   1   e  15

### #row.set_at


Set rows by positions to a given vector

In [12]:
#reset dataframe
df = sample_df idx

#<Daru::DataFrame(5x3)>
       a   b   c
   a   1   a  11
   b   2   b  12
   a   3   c  13
   b   4   d  14
   c   5   e  15

In [13]:
df.row.set_at [0, 4], ['x', 'y', 'z']
df

#<Daru::DataFrame(5x3)>
       a   b   c
   a   x   y   z
   b   2   b  12
   a   3   c  13
   b   4   d  14
   c   x   y   z

### #set_at

Works similar to `#row.at_set`

In [14]:
df.set_at [0, 1], [nil]*5
df

#<Daru::DataFrame(5x3)>
       a   b   c
   a nil nil   z
   b nil nil  12
   a nil nil  13
   b nil nil  14
   c nil nil   z

## Other index classes