Indexing in Daru has grown more powerful. Here's a glimpse. Enjoy!

In [1]:
require 'daru'

"if(window['d3'] === undefined ||\n   window['Nyaplot'] === undefined){\n    var path = {\"d3\":\"https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min\",\"downloadable\":\"http://cdn.rawgit.com/domitry/d3-downloadable/master/d3-downloadable\"};\n\n\n\n    var shim = {\"d3\":{\"exports\":\"d3\"},\"downloadable\":{\"exports\":\"downloadable\"}};\n\n    require.config({paths: path, shim:shim});\n\n\nrequire(['d3'], function(d3){window['d3']=d3;console.log('finished loading d3');require(['downloadable'], function(downloadable){window['downloadable']=downloadable;console.log('finished loading downloadable');\n\n\tvar script = d3.select(\"head\")\n\t    .append(\"script\")\n\t    .attr(\"src\", \"http://cdn.rawgit.com/domitry/Nyaplotjs/master/release/nyaplot.js\")\n\t    .attr(\"async\", true);\n\n\tscript[0][0].onload = script[0][0].onreadystatechange = function(){\n\n\n\t    var event = document.createEvent(\"HTMLEvents\");\n\t    event.initEvent(\"load_nyaplot\",false,false);\n\t    window.dispatchEvent(event);\n\t    console.log('Finished loading Nyaplotjs');\n\n\t};\n\n\n});});\n}\n"

true

# Categorical Index

A new class of index got added to Daru to handle indexing which can be categorical. This is basically how it works.

In [2]:
idx = Daru::CategoricalIndex.new [:a, 1, :a, 1, :c]

#<Daru::CategoricalIndex(5): {a, 1, a, 1, c}>

In [3]:
dv = Daru::Vector.new 'a'..'e', index: idx

#<Daru::Vector(5)>
   a   a
   1   b
   a   c
   1   d
   c   e

Get elements with single category.

In [4]:
dv[:a]

#<Daru::Vector(2)>
   a   a
   a   c

Retrive elements by multiple categories.

In [5]:
dv[:a, 1]

#<Daru::Vector(4)>
   a   a
   1   b
   a   c
   1   d

Get elements by position using `#at`.

In [6]:
dv.at 1

"b"

You can get multiple element as a vector if you specify more than one position.

In [7]:
dv.at 0, 1, 2

#<Daru::Vector(3)>
   a   a
   1   b
   a   c

**Note**: You can also use `#[]` to get elements by position only if that position is not a index.

Get elements by single position.

In [8]:
dv[3]

"d"

Get elements by multiple positions.

In [9]:
dv[0, 3]

#<Daru::Vector(2)>
   a   a
   1   d

Change values at certain indexes using `[]=`

In [10]:
dv[:a] = 20
dv

#<Daru::Vector(5)>
   a  20
   1   b
   a  20
   1   d
   c   e

Change values at certain positions using `at_set`

In [11]:
dv.at_set [0, 1], 100
dv

#<Daru::Vector(5)>
   a 100
   1 100
   a  20
   1   d
   c   e

# Other index classes

Overall all Index classes API are improved. Everyclass respond to multiple indexes, positional index, give proper error messages, etc.

Here are few examples:

## Index

In [12]:
idx = Daru::Index.new [:a, :b, :c, :d]

#<Daru::Index(4): {a, b, c, d}>

In [13]:
dv = Daru::Vector.new 1..4, index: idx

#<Daru::Vector(4)>
   a   1
   b   2
   c   3
   d   4

Retrive values by index or positions.

**Note:** When the value is both a valid index and a valid position, it will be treated as index value.

In [14]:
dv[:a, :b]

#<Daru::Vector(2)>
   a   1
   b   2

Retive values by positions.

In [15]:
dv.at 0, 1

#<Daru::Vector(2)>
   a   1
   b   2

Set values by index or positions.

**Note:** When value is both a valid index and a valid position, it will be treated as index value.

In [16]:
dv[:a, :b] = 'x'
dv

#<Daru::Vector(4)>
   a   x
   b   x
   c   3
   d   4

Set values in vector by positions.

In [17]:
dv.at_set [0, 2], 'y'
dv

#<Daru::Vector(4)>
   a   y
   b   x
   c   y
   d   4

# MultiIndex

In [18]:
idx = Daru::MultiIndex.from_tuples [
          [:a,:one,:bar],
          [:a,:one,:baz],
          [:a,:two,:bat],
          [:b,:one,:bar],
          [:b,:two,:baz],
        ]

#<Daru::MultiIndex(5x3)>
   a one bar
         baz
     two bat
   b one bar
     two baz

In [19]:
dv = Daru::Vector.new 1..5, index: idx

#<Daru::Vector(5)>
   a one bar   1
         baz   2
     two bat   3
   b one bar   4
     two baz   5

Retrive values by index or positions.

**Note:** When value is both a valid index or position then value will be treated as index rather position.

Partial Index

In [20]:
dv[:a]

#<Daru::Vector(3)>
 one bar   1
     baz   2
 two bat   3

On mentioning complete index, one will get the value at that index

In [21]:
dv[:a, :one, :bar]

1

Retrive values by positions

In [22]:
dv.at 0, 1, 2

#<Daru::Vector(3)>
   a one bar   1
         baz   2
     two bat   3

Assign values by index or positions

In [23]:
dv[:a, :one] = 'x'
dv

#<Daru::Vector(5)>
   a one bar   x
         baz   x
     two bat   3
   b one bar   4
     two baz   5

Assign values by positions

In [24]:
dv.at_set [0, 1, 2], 'z'
dv

#<Daru::Vector(5)>
   a one bar   z
         baz   z
     two bat   z
   b one bar   4
     two baz   5